{% extends 'website/parts/layout/base.html' %}
{% load static %}
{% load socialaccount %}
{% load i18n %}

{% block title %}
  Sign Up | {{ website_config.site_name }}
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/account/login.css' %}" />
  <link rel="stylesheet" href="{% static 'css/account/parts/google-button.css' %}" />
{% endblock %}

{% block content %}
  <div class="wrapper">
    <div class="login-container">
      <section class="login-form">
        <h2 class="subtitle">{% trans "Create your account" %}</h2>

        <section class="row justify-content-center">
          <form method="POST" action="" class="form col-10 py-2 w-100">
            <div class="d-flex gap-3">
              <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="bi bi-keyboard me-2"></i> {% trans "Type manually" %}</button>
              <a class="login-with-google-btn" href="{% provider_login_url 'google' %}">{% trans "Sign up with Google" %}</a>
            </div>

            <div class="collapse py-3" id="collapseExample">
              {% csrf_token %}
              {% if form.non_field_errors %}
              <div class="alert alert-danger">{{ form.non_field_errors }}</div>
              {% endif %}
              {% for field in form %}
                <div class="mb-3">
                  {{ field }}
                  {% if field.errors %}
                    <div class="text-danger small">{{ field.errors }}</div>
                  {% endif %}
                </div>
              {% endfor %}
              <button type="submit" id="login-button" class="mb-3">{% trans "Sign Up" %}</button>
              <p class="help-text dont-have-account">
                {% trans "Already have an account?" %} <a href="{% url 'account_login' %}">{% trans "Login" %}</a>
              </p>
            </div>
          </form>
        </section>
      </section>
    </div>

    <ul class="bg-bubbles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
{% endblock %}
