{% extends 'website/parts/layout/base.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}
  Sign Up | {{ website_config.site_name }}
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/account/login.css' %}" />
  <link rel="stylesheet" href="{% static 'css/account/parts/google-button.css' %}" />
{% endblock %}

{% block content %}
  <div class="wrapper">
    <div class="login-container">
      <section>
        <h2 class="subtitle">Create your account</h2>
        <h4 class="fw-light mb-3">{{ website_config.tagline }}</h4>

        <section class="row justify-content-center">
          <form method="POST" action="">
            <div class="mb-3">
            </div>
            {% if form.non_field_errors %}
            <div class="alert alert-danger">{{ form.non_field_errors }}</div>
            {% endif %}
            {% csrf_token %}
            {% for field in form %}
              <div class="mb-3">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                  <div class="text-danger small">{{ field.errors }}</div>
                {% endif %}
              </div>
            {% endfor %}
            <button type="submit" id="login-button" class="mb-5">Sign Up</button>
            <a href="{% provider_login_url 'google' %}"><button type="button" class="login-with-google-btn">Sign up with Google</button></a>
            <p class="help-text dont-have-account">
              Already have an account? <a href="{% url 'account_login' %}">Login</a>
            </p>
          </form>
        </section>
      </section>
    </div>

    <ul class="bg-bubbles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
{% endblock %}
