@import url('/static/css/theme/colors.css');

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 200;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v23/6xKydSBYKcSV-LCoeQqfX1RYOo3i94_wlxdr.ttf) format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v23/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf) format('truetype');
}

.help-text,
.help-text.dont-have-account {
    font-size: 1rem !important;
    margin: .5rem 0;
}


.errorlist {
    color: #ff2121;
    margin-bottom: 10px;
    list-style-type: none;
    padding: 0;
    font-size: var(--body-font-size);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 300;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;
}

body ::-webkit-input-placeholder {
    /* WebKit browsers */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;
}

body :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    opacity: 1;
    font-weight: 300;
}

body ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    opacity: 1;
    font-weight: 300;
}

body :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;
}


.wrapper {
    background: var(--login-bg-primary);
    background: linear-gradient(to bottom right, var(--login-bg-primary) 0%, var(--login-bg-secondary) 100%);
    position: relative;
    /* height: calc(100vh - 75px); */
    height: 100vh;
    width: 100%;
    overflow: hidden;
}


.login-container {
    position: relative;
    z-index: 2;
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100%;
    margin: 40px 0 0 0;
    padding: 80px 0;
    font-size: 2rem;
}

.login-container section {
    max-width: 600px;
}

.login-container h1 {
    font-weight: 200;
    font-size: 5rem;
}

form {
    padding: 20px 0;
    font-size: 2rem;
}

form input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    transition-duration: 0.25s;
    font-weight: 300;
}

form input:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

form input:focus {
    background-color: rgba(255, 255, 255, 0.4);
    color: #53e3a6;
}

form button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    /* background-color: white; */
    background-color: rgba(255, 255, 255, 0.2);
    border: 0;
    padding: 10px 15px;
    color: var(--button-text-primary);
    /* color: rgba(255, 255, 255, 0.2); */
    border-radius: 3px;
    width: 100%;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
}

form button:hover {
    background-color: var(--soft-white);
    color: var(--dark-blue);
}

.bg-bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.bg-bubbles li {
    position: absolute;
    z-index: 1;
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.15);
    bottom: -160px;
    animation: square 20s infinite;
    transition-timing-function: linear;
}

.bg-bubbles li:nth-child(1) {
    left: 10%;
}

.bg-bubbles li:nth-child(2) {
    left: 20%;
    width: 80px;
    height: 80px;
    animation-duration: 12s;
}

.bg-bubbles li:nth-child(3) {
    left: 25%;
    animation-delay: 2s;
}

.bg-bubbles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-duration: 15s;
    background-color: rgba(255, 255, 255, 0.25);
}

.bg-bubbles li:nth-child(5) {
    left: 70%;
}

.bg-bubbles li:nth-child(6) {
    left: 80%;
    width: 120px;
    height: 120px;
    animation-delay: 2s;
    background-color: rgba(255, 255, 255, 0.2);
}

.bg-bubbles li:nth-child(7) {
    left: 32%;
    width: 160px;
    height: 160px;
    animation-delay: 4s;
}

.bg-bubbles li:nth-child(8) {
    left: 55%;
    width: 20px;
    height: 20px;
    animation-delay: 15s;
    animation-duration: 40s;
}

.bg-bubbles li:nth-child(9) {
    left: 25%;
    width: 10px;
    height: 10px;
    animation-delay: 2s;
    animation-duration: 40s;
    background-color: rgba(255, 255, 255, 0.3);
}

.bg-bubbles li:nth-child(10) {
    left: 90%;
    width: 160px;
    height: 160px;
    animation-delay: 11s;
}

@-webkit-keyframes square {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-700px) rotate(600deg);
    }
}

@keyframes square {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-700px) rotate(600deg);
    }
}