asgiref==3.11.0 ; python_version >= "3.14"
certifi==2026.1.4 ; python_version >= "3.14"
cffi==2.0.0 ; python_version >= "3.14" and platform_python_implementation != "PyPy"
charset-normalizer==3.4.4 ; python_version >= "3.14"
colorama==0.4.6 ; python_version >= "3.14" and sys_platform == "win32"
colorlog==6.10.1 ; python_version >= "3.14"
cryptography==46.0.3 ; python_version >= "3.14"
dj-database-url==3.1.0 ; python_version >= "3.14"
django-allauth==65.14.0 ; python_version >= "3.14"
django-browser-reload==1.21.0 ; python_version >= "3.14"
django-jazzmin==3.0.1 ; python_version >= "3.14"
django==6.0.1 ; python_version >= "3.14"
dotenv==0.9.9 ; python_version >= "3.14"
gunicorn==23.0.0 ; python_version >= "3.14"
idna==3.11 ; python_version >= "3.14"
packaging==25.0 ; python_version >= "3.14"
pillow==12.1.0 ; python_version >= "3.14"
psycopg2==2.9.11 ; python_version >= "3.14"
pycparser==2.23 ; platform_python_implementation != "PyPy" and implementation_name != "PyPy" and python_version >= "3.14"
pyjwt==2.10.1 ; python_version >= "3.14"
python-dotenv==1.2.1 ; python_version >= "3.14"
requests==2.32.5 ; python_version >= "3.14"
sqlparse==0.5.5 ; python_version >= "3.14"
tzdata==2025.3 ; python_version >= "3.14" and sys_platform == "win32"
urllib3==2.6.3 ; python_version >= "3.14"
whitenoise==6.11.0 ; python_version >= "3.14"
