@import "../colors/theme-colors.css";

.switch-label {
    --width: 35px;
    --height: 16px;

    height: var(--height);
    width: var(--width);

    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
    position: relative;
    transform: scale(1.5);
}

.switch-label .ball {
    --size: 15px;

    height: var(--size);
    width: var(--size);

    border-radius: 50%;
    position: absolute;
    left: 2px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.switch-label .switch-icon {
    --size: .8rem;
    font-size: var(--size);
}

.checkbox:checked+.switch-label .ball {
    --move-distance: calc(var(--width) - var(--size) - 4px);
    transform: translateX(var(--move-distance));
}
/* 

body.dark .dashboard-nav .profile-menu li:hover a {
    color: var(--white);
}

body.dark .dashboard-nav .profile-menu li a {
    color: var(--black);
}

body.dark .dashboard-nav .notification-menu li:hover {
    background-color: var(--light-blue);
    color: var(--white);
}

body.dark .dashboard-nav .notification-menu li a {
    background-color: var(--dark-grey);
    color: var(--white);
} */