{% extends 'website/parts/layout/base.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}
  Login | {{ website_config.site_name }}
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/account/login.css' %}" />
  <link rel="stylesheet" href="{% static 'css/account/parts/google-button.css' %}" />
{% endblock %}

{% block content %}
  <div class="wrapper">
    <div class="login-container">
      <section class="login-form">
        <h2 class="subtitle">Welcome to {{ website_config.site_name }}</h2>
        <h4 class="fw-light mb-3">{{ website_config.tagline }}</h4>

        {# form #}
        <section class="row justify-content-center">
          <form method="POST" action="{% url 'account_login' %}" class="form col-10">
            <div class="mb-3"></div>
            {% if form.non_field_errors %}
              <div class="alert alert-danger">{{ form.non_field_errors }}</div>
            {% endif %}
            {% csrf_token %}
            {{ form.login }}
            {{ form.password }}
            <button type="submit" id="login-button" class="mb-5">Login</button>
            <a href="{% provider_login_url 'google' %}"><button type="button" class="login-with-google-btn">Sign in with Google</button></a>
            <p class="help-text dont-have-account">
              Don't have an account? <a href="{% url 'account_signup' %}">Sign up</a>
            </p>
          </form>
        </section>
      </section>
    </div>

    <ul class="bg-bubbles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
{% endblock %}
