<ol id="lessons-roadmap" class="skills-timeline lessons-roadmap">
  {% for part in parts %}
    <li class="skills-timeline__item">
      <div class="skills-timeline__skill">
        <span class="skills-timeline__circle" aria-hidden="true"></span>
        <h3 class="skills-timeline__name">
          <a class="lessons-roadmap__link" href="{% url 'lesson_details' slug=project.slug part_slug=part.slug %}">{{ part.title }}</a>
        </h3>
      </div>
      {% if part.thumbnail or part.content_excerpt %}
        <div class="skills-timeline__projects">
          {% if part.thumbnail %}
            
              <img src="{{ part.thumbnail.url }}" alt="{{ part.title }}" class="lessons-roadmap__thumb" />
          {% endif %}
          {% if part.content_excerpt %}
            <div class="space mb-3"></div>
            <div class="lessons-roadmap__excerpt">
              <a href="{% url 'lesson_details' slug=project.slug part_slug=part.slug %}">
                {{ part.content_excerpt|safe }}
              </a>
            </div>
          {% endif %}
        </div>
      {% endif %}
    </li>
  {% endfor %}
</ol>
