{% extends 'website/parts/layout/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
  Home | {{ website_config.site_name }}
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/pages/home.css' %}" />
  <link rel="stylesheet" href="{% static 'css/common.css' %}" />
{% endblock %}

{% block content %}
  <section class="home">
    <section class="hero">
      {% include 'website/parts/layout/home-nav.html' %}

      <video class="hero__video" autoplay muted loop playsinline preload="auto" poster="{% static 'media/video/hero-poster.png' %}">
        <source src="{% static 'media/video/hero-1.mp4' %}" type="video/mp4" />
      </video>

      <div class="hero__overlay"></div>

      <div class="hero__content">
        <h1 class="title">{% blocktrans with site_name=website_config.site_name %}{{ site_name }} waiting for you!{% endblocktrans %}</h1>

        <p class="subtitle mb-4">
          {% trans 'Frontend, backend, desktop, and data science projects' %}
        </p>
        <div>
          <a class="btn btn-primary button no-bg hover-purple me-3" href="{% url 'landing' %}">{% trans 'Hire a mentor' %}</a>
          <a class="btn btn-primary button" href="{% url 'projects' %}">{% trans 'Discover projects' %}</a>
        </div>
      </div>
    </section>
  </section>
{% endblock %}
