{% extends 'website/parts/layout/base.html' %}
{% load static %}

{% block title %}
  Home | {{ website_config.site_name }}
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/pages/home.css' %}" />
{% endblock %}

{% block content %}
  <section class="home">
    <section class="hero">
      {% include 'website/parts/layout/nav.html' %}

      <video class="hero__video" autoplay muted loop playsinline preload="auto" poster="{% static 'media/video/hero-poster.png' %}">
        <source src="{% static 'media/video/hero-1.mp4' %}" type="video/mp4" />
      </video>

      <div class="hero__overlay"></div>

      <div class="hero__content">
        <h1 class="title">Welcome to {{ website_config.site_name }}!</h1>

        <p class="subtitle mb-4">{{ website_config.tagline }}</p>

        {% if user.is_authenticated %}
          <a class="btn btn-primary button" href="{% url 'projects' %}">Dive into projects</a>
        {% else %}
          <a class="btn btn-primary button" href="{% url 'account_login' %}">Explore topics</a>
        {% endif %}
      </div>
    </section>
  </section>
{% endblock %}
