@import url('/static/css/theme/colors.css');

:root {
    --title-font-size: 2.5rem;
    --subtitle-font-size: 2.25rem;
    --body-font-size: 1.05rem;
    --paragpaph-font-size: 1rem;
    --button-font-size: 1.05rem;
    --small-font-size: 0.875rem;
}