{% extends 'website/dashboard/parts/layout.html' %}
{% load static %}
{% load i18n %}

{% block title %}
  {% trans 'Learning map' %}| {{ website_config.site_name }}
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/dashboard/dashboard.css' %}" />
  <link rel="stylesheet" href="{% static 'css/dashboard/map.css' %}" />
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/dashboard/dashboard.js' %}" defer type="module"></script>
  <script src="{% static 'js/dashboard/map.js' %}" defer type="module"></script>
{% endblock %}

{% block dashboard_content %}
  <section class="map">
    
  </section>
{% endblock %}
