{% extends 'website/dashboard/parts/layout.html' %}
{% load static %}

{% block title %}
  Level {{ lesson_number }} | {{ website_config.site_name }}
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/dashboard/dashboard.css' %}" />
  <link rel="stylesheet" href="{% static 'css/dashboard/levels.css' %}" />
{% endblock %}

{% block extra_js %}
  <script async src="https://public.codepenassets.com/embed/index.js" defer></script>

  <script src="{% static 'js/dashboard/dashboard.js' %}" defer type="module"></script>
  <script src="{% static 'js/dashboard/parts/codepen.js' %}" defer type="module"></script>
  <script src="{% static 'js/dashboard/levels.js' %}" defer type="module"></script>
{% endblock %}

{% block dashboard_content %}
  <section class="levels row">
    <aside class="sidebar description col-4">
      <div class="description-content">
        <h2>Level #{{ lesson_number }}: {{ lesson_title }}</h2>
        <div class="part-description">{{ part.description|safe }}</div>
      </div>
      <hr class="line" />

      {# objectives #}
      <div class="objectives">
        <h3>Objectives</h3>
        <div class="row align-items-end">
          <div class="col-8 objectives">
            <form action="">
              <ul>
                {% for obj in part.objectives %}
                  <li>
                    <input type="checkbox" name="objective{{ forloop.counter }}" id="objective{{ forloop.counter }}" />
                    {{ obj }}
                  </li>
                {% empty %}
                  <li>No objectives set for this part.</li>
                {% endfor %}
              </ul>
            </form>
          </div>
          <div class="col-4 actions text-end">
            <button class="btn btn-outline-success">&gt; Submit</button>
          </div>
        </div>
      </div>
    </aside>
    <main class="embeded task col-8 position-relative">
      {# cover-line #}
      <div class="no-code-cover-line"></div>

      <div class="embeded-inner">
        {% if part.codepen_url and codepen_hash and codepen_user %}
          <div class="codepen" data-height="100%" data-width="95%" data-default-tab="result" data-editable="true" data-slug-hash="{{ codepen_hash }}" data-user="{{ codepen_user }}" style="height: 100%; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; padding: 1em; width: 95%; max-width: 100%;"></div>
        {% else %}
          <div class="alert alert-info">No CodePen demo for this part.</div>
        {% endif %}
      </div>


      <div class="row settings align-items-center p-2 position-relative">
        <div class="show-code-switch d-flex justify-content-center align-items-center form-check form-switch pointer">
          <input class="form-check-input me-2" type="checkbox" role="switch" id="switchCheckDefault" />
          <label class="form-check-label pointer" for="switchCheckDefault">Show code</label>
        </div>
      </div>
    </main>
  </section>
{% endblock %}
