{% extends 'website/dashboard/parts/layout.html' %}
{% load static %}
{% load i18n %}

{% block meta %}
  <meta name="csrf-token" content="{{ csrf_token }}" />
{% endblock %}

{% block title %}
  {{ page_title }} | {{ website_config.site_name }}
{% endblock %}

{% block page_css %}
  <link rel="stylesheet" href="{% static 'css/pages/roadmap.css' %}" />
  {% if user.is_staff %}
    <link rel="stylesheet" href="{% static 'css/pages/projects/plus-button.css' %}" />
  {% endif %}
{% endblock %}

{% block page_js %}
  {% if user.is_staff %}
    <script src="{% static 'js/pages/projects/plus-button.js' %}" defer></script>
  {% endif %}
{% endblock %}

{% block dashboard_content %}
  {% if user.is_staff %}
    {% include 'website/dashboard/parts/project/plus-button.html' %}
  {% endif %}

  <section class="row align-items-end mb-2">
    <form method="get" class="projects-filters-form row w-100 align-items-end mb-0">
      <div class="col col-md-3 flex-basis-100-smo dashboard-title head-title d-flex align-items-center justify-content-between mb-3 mb-md-0">
        <div class="left">
          <h1>{{ page_title }}</h1>
          <ul class="breadcrumb">
            <li>
              <a href="{% url 'home' %}">{{ website_config.site_name }}</a>
            </li>
            <li>
              <i class="fs-6 bi bi-caret-right-fill"></i>
            </li>
            <li>
              <a {% if not selected_course %}class="active" {% endif %}href="{% url list_url_name %}{{ layout_query }}">{{ page_title }}</a>
            </li>
            {% if selected_course %}
              <li>
                <i class="fs-6 bi bi-caret-right-fill"></i>
              </li>
              <li>
                <a class="active" href="{% url detail_url_name selected_course.slug %}{{ layout_query }}">{{ selected_course.title }}</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
      {% include 'website/dashboard/parts/project_filters.html' %}
    </form>
  </section>

  {% if courses %}
    {% include 'website/dashboard/parts/roadmap/skill_courses.html' %}
  {% else %}
    <p class="text-muted">{{ empty_message }}</p>
  {% endif %}
{% endblock %}
