.levels {
    --levels-border: 1px solid #ddd;
    --codepen-nav-color: #3d3d3e;
}

.description,
.task {
    height: 95vh;
    padding: 2rem;
}

.description {
    border-right: var(--levels-border);
}

.description-content {
    height: 70vh;
    overflow: hidden;
    overflow-y: scroll;
    padding: 0 0 1rem 0;
}

.task {
    padding: 70px 1rem;
}

.embeded-inner {
    width: 95%;
    margin: 0 auto;
}

.line {
    border-bottom: var(--levels-border);
}

.no-code-cover-line {
    position: absolute;
    width: 300px;
    height: 48px;
    background-color: var(--codepen-nav-color);
    top: 76px;
    left: 33px;
}

.show-code-switch {
    font-size: .9rem;
}

/* ! Тоже нужно динамически задавать position (left при rescale) */
.settings {
    top: -100px;
    left: 85%;
    max-width: 150px;
    background-color: var(--codepen-nav-color);
    border-radius: 15px;
    padding: 1rem 2rem;
}