{% extends 'website/layout/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
  {% trans "Dashboard" %} | {{ website_config.site_name }}
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/layout/dashboard/user.css' %}" />
  <link rel="stylesheet" href="{% static 'css/pages/user-dashboard.css' %}" />
  <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" />
{% endblock %}

{% block js %}
  <script src="{% static 'js/dashboard/theme_switch.js' %}" defer type="module"></script>
  <script src="{% static 'js/dashboard/user.js' %}" defer type="module"></script>
{% endblock %}

{% block layout %}
  <div class="user-dash">
    {% include 'website/dashboard/parts/navbar.html' %}

    <div class="user-dash__frame">
      <div class="user-dash__backdrop" data-user-dash-backdrop hidden></div>
      {% include 'website/dashboard/parts/sidebar.html' %}

      <main class="user-dash__main">
        <div class="user-dash__main-inner">
          {% block dashboard_content %}

          {% endblock %}
        </div>
      </main>
    </div>
  </div>
{% endblock %}
