{% extends 'website/parts/layout/base.html' %}
{% load static %}

{% block title %}
  Dashboard | {{ website_config.site_name }}
{% endblock %}

{% block extra_css %}
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/dashboard/dashboard.css' %}" />
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/dashboard/dashboard.js' %}" defer type="module"></script>
{% endblock %}

{% block layout %}
  <section class="dashboard">
    <!-- SIDEBAR -->
    {% include 'website/dashboard/parts/side-menu.html' %}

    <!-- CONTENT -->
    <section id="content">
      <!-- NAVBAR -->
      {% include 'website/dashboard/parts/nav.html' %}

      <!-- MAIN -->
      <main>
        {% block dashboard_content %}

        {% endblock %}
      </main>
      <!-- MAIN -->
    </section>
    <!-- CONTENT -->
  </section>
{% endblock %}
