{% load i18n %}

<nav class="dashboard-nav">
  <div class="container">
    <div class="row justify-content-between position-relative">
      {# left side #}
      <aside class="col left">
        <i class="bi bi-list fs-5 bx bx-menu bx-sm"></i>
      </aside>

      {# right side #}
      <aside class="col right justify-content-end d-flex text-end align-items-center column-gap-3">
        <form action="{% url 'set_language_and_save' %}" method="post">
          {% csrf_token %}
          <select name="language" onchange="this.form.submit()" class="language-switch form-select form-select-sm" style="width:auto;display:inline-block;">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% for lang_code, lang_name in LANGUAGES %}
              <option value="{{ lang_code }}" {% if lang_code == LANGUAGE_CODE %}selected{% endif %}>{{ lang_name }}</option>
            {% endfor %}
          </select>
          <input type="hidden" name="next" value="{{ request.path }}" />
        </form>
      </aside>
    </div>
  </div>
</nav>
