{% load i18n %}

<header class="user-dash__nav">
  <button type="button" class="user-dash__menu" data-user-dash-toggle aria-controls="user-dash-sidebar" aria-expanded="false">
    <i class="bi bi-list" aria-hidden="true"></i>
    <span class="visually-hidden">{% trans "Open menu" %}</span>
  </button>

  <a class="user-dash__brand" href="{% url 'dashboard' %}">{{ website_config.site_name }}</a>

  <div class="user-dash__nav-end">
    {% include 'website/projects/parts/theme-switch.html' %}
    <a class="user-dash__user" href="{% url 'settings' %}">{{ user.username }}</a>
  </div>
</header>
