<div class="project-card" data-id="{{ project.id }}">
  {% if project.slug %}
    <div class="project-inner w-100 h-100 d-flex flex-column">
      {% if project.image %}
        <a href="{% url 'project_details' slug=project.slug %}"><img src="{{ project.image.url }}" alt="{{ project.title }}" class="project-image" /></a>
      {% endif %}
      <div class="project-info flex-grow-1 d-flex flex-column justify-content-between">
        <h3 class="mb-4"><a href="{% url 'project_details' slug=project.slug %}" style="color: var(--blue);">{{ project.title }}</a></h3>
        {% if project.difficulty %}
          <span class="project-difficulty mb-3">{{ project.difficulty }}</span>
        {% endif %}
      </div>
    </div>
  {% else %}
    <div class="project-inner w-100">
      {% if project.image %}
        <img src="{{ project.image.url }}" alt="{{ project.title }}" class="project-image" />
      {% endif %}
      <div class="project-info">
        {{ project }}
        <h3 class="mb-3"><span style="color: #6c757d;">{{ project.title }}</span></h3>
        {% if project.difficulty %}
          <span class="project-difficulty mb-3">{{ project.difficulty }}</span>
        {% endif %}
      </div>
    </div>
  {% endif %}
</div>
