{% load static %}
{% load i18n %}

{% if courses %}
  <div class="project-languages-section">
    {% for course in courses %}
      {% if course.filtered_projects %}
      <section class="language-block">
        <h2>{{ course.title }}</h2>
        {% if user.is_staff %}
          <button id="save-grid-order-btn-{{ course.id }}" class="btn btn-sm btn-success mb-2" style="display:none;">{% trans "Save Order" %}</button>
        {% endif %}
        <div class="project-list projects-grid" id="projects-grid-{{ course.id }}" data-course-id="{{ course.id }}">
          {% for project in course.filtered_projects %}
              {% include 'website/dashboard/parts/project_card.html' %}
          {% endfor %}
        </div>
      </section>
      {% endif %}
    {% empty %}
      <p>{% trans "No courses found." %}</p>
    {% endfor %}
  </div>
{% endif %}

