{% load i18n %}

<section id="sidebar">
  <div class="row p-2">
    <div class="logo col">
      <a href="{% url 'home' %}" class="brand ms-4"><span class="text">{{ website_config.site_name }}</span></a>
    </div>
    <div class="col text-end">
      {% comment %}keep line{% endcomment %}
    </div>
  </div>
  <ul class="side-menu top">
    {% if user.is_staff %}
      <li class="">
        <a href="{% url 'admin:index' %}" data-route="admin">
          <i class="bx bi bi-person-lock bx"></i>
          <span class="text">{% trans 'Admin' %}</span>
        </a>
      </li>
    {% endif %}

    <li class="has-submenu" data-submenu="projects">
      <div class="menu-row">
        <a href="{% url 'projects' %}" data-route="projects" class="main-link" data-bs-toggle="collapse" data-bs-target="#projectsSidebarCollapse" aria-expanded="false" aria-controls="projectsSidebarCollapse" aria-label="{% trans 'Toggle Projects courses' %}">
          <i class="bx bi bi-braces"></i>
          <span class="text">{% trans 'Projects' %}</span>
        </a>
      </div>
      {% if sidebar_project_courses %}
        {% include 'website/dashboard/parts/sidebar/projects-list.html' %}
      {% endif %}
    </li>
  </ul>
  <ul class="side-menu bottom">
    <li class="">
      <a href="{% url 'desktop_app' %}" class="settings-link" data-route="desktop_app">
        <i class="bx bi bi-windows"></i>
        <span class="text">{% trans 'Desktop App' %}</span>
      </a>
    </li>
    <li class="">
      <a href="{% url 'settings' %}" class="settings-link" data-route="settings">
        <i class="bx bi bi-gear"></i>
        <span class="text">{% trans 'Account' %}</span>
      </a>
    </li>
    {% if user.is_authenticated %}
      <li>
        <a href="{% url 'logout' %}" class="logout" data-route="logout">
          <i class="bx bi bi-box-arrow-left"></i>
          <span class="text">{% trans 'Logout' %}</span>
        </a>
      </li>
    {% endif %}
  </ul>
</section>
<!-- SIDEBAR -->
