{% load i18n %}

<section id="sidebar">
  <div class="row p-2">
    <div class="logo col">
      <a href="{% url 'home' %}" class="brand ms-4"><span class="text">{{ website_config.site_name }}</span></a>
    </div>
    <div class="col text-end">
      {% comment %}keep line{% endcomment %}
    </div>
  </div>
  <ul class="side-menu top">
    {% if user.is_staff %}
      <li class="">
        <a href="{% url 'admin:index' %}" data-route="admin">
          <i class="bx bi bi-person-lock bx"></i>
          <span class="text">{% trans 'Admin' %}</span>
        </a>
      </li>
    {% endif %}
    <li class="has-submenu" data-submenu="topics">
      <div class="menu-row">
        <a href="{% url 'topics' %}" data-route="topics" class="main-link" data-bs-toggle="collapse" data-bs-target="#topicsSidebarCollapse" aria-expanded="false" aria-controls="topicsSidebarCollapse" aria-label="{% trans 'Toggle Practice languages' %}">
          <i class="bx bi bi-bar-chart-steps"></i>
          <span class="text">{% trans 'Practice' %}</span>
        </a>
      </div>
      {% if sidebar_topic_languages %}
        {% include 'website/dashboard/parts/sidebar/topics-list.html' %}
      {% endif %}
    </li>
    <li class="has-submenu" data-submenu="projects">
      <div class="menu-row">
        <a href="{% url 'projects' %}" data-route="projects" class="main-link" data-bs-toggle="collapse" data-bs-target="#projectsSidebarCollapse" aria-expanded="false" aria-controls="projectsSidebarCollapse" aria-label="{% trans 'Toggle Projects courses' %}">
          <i class="bx bi bi-braces"></i>
          <span class="text">{% trans 'Projects' %}</span>
        </a>
      </div>
      {% if sidebar_project_courses %}
        {% include 'website/dashboard/parts/sidebar/projects-list.html' %}
      {% endif %}
    </li>
    {% comment %} <li class="">
      <a href="{% url 'courses' %}" data-route="courses">
        <i class="bx bi bi-play-btn"></i>
        <span class="text">{% trans 'Courses' %}</span>
      </a>
    </li> {% endcomment %}
  </ul>
  <ul class="side-menu bottom">
    <li class="">
      <a href="{% url 'settings' %}" class="settings-link" data-route="settings">
        <i class="bx bi bi-gear"></i>
        <span class="text">{% trans 'Account' %}</span>
      </a>
    </li>
    <li>
      <a href="{% url 'logout' %}" class="logout" data-route="logout">
        <i class="bx bi bi-box-arrow-left"></i>
        <span class="text">{% trans 'Logout' %}</span>
      </a>
    </li>
  </ul>
</section>
<!-- SIDEBAR -->
