{% load i18n %}

<div id="topicsSidebarCollapse" class="collapse submenu-collapse">
  <ul class="submenu">
    <li>
      <a href="{% url 'projects' %}?filter=language&type=topic" data-route="topics">
        <i class="bi bi-journal-code text-black"></i>
        <span class="text-black">{% trans 'All languages' %}</span>
      </a>
    </li>
    {% for language in sidebar_topic_languages %}
      <li>
        <a href="{% url 'projects' %}?filter=language&type=topic&language={{ language.id }}" data-route="topics">
          <i class="bi bi-journal-code text-black"></i>
          <span class="text-black">{{ language.name }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
