{% load i18n %}

<div id="topicsSidebarCollapse" class="collapse submenu-collapse">
  <ul class="submenu">
    <li>
      <a href="{% url 'topics' %}" data-route="topics">
        <i class="bi bi-journal-code text-black"></i>
        <span class="text-black clipped-text">{% trans 'All languages' %}</span>
      </a>
    </li>
    {% for language in sidebar_topic_languages %}
      <li>
        <a href="{% url 'topics_by_language' language.id %}" data-route="topics">
          <i class="bi bi-journal-code text-black"></i>
          <span class="text-black clipped-text">{{ language.name }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
