<ol id="lessons-roadmap" class="skills-timeline lessons-roadmap">
  {% for part in parts %}
    <li class="skills-timeline__item">
      <div class="skills-timeline__skill">
        <span class="skills-timeline__circle" aria-hidden="true"></span>
        <h3 class="skills-timeline__name">
          <a class="lessons-roadmap__link" href="{% url 'lesson_details' slug=project.slug part_slug=part.slug %}">{{ part.title }}</a>
        </h3>
      </div>
      {% if part.objectives %}
        <div class="skills-timeline__content">
          {{ part.objectives|safe }}
        </div>
      {% endif %}
    </li>
  {% endfor %}
</ol>
