.roadmap-course {
  margin-bottom: 2.5rem;
  padding: 1.5rem 1rem;
}

@media screen and (min-width: 768px) {
  .roadmap-course {
    border-radius: 10px;
    background: var(--white);
    box-shadow: 0 2px 8px var(--card-shadow);
  }
}

.roadmap-course__title {
  color: var(--black);
}
