{% load i18n %}

<nav class="dashboard-nav">
  <div class="container">
    <div class="row justify-content-between position-relative">
      {# left #}
      <aside class="col left">
        {# burger icon #}
        <i class="bi bi-list fs-5 cursor-pointer"></i>
      </aside>

      {# right #}
      <aside class="col right justify-content-end d-flex text-end align-items-center column-gap-3">
        {% comment %} ! search input {% endcomment %}
        {% comment %} <div class="d-md-flex flex-basis-100-smo text-center text-md-start column-gap-2 align-items-center justify-content-center justify-content-md-start">
          <span class="reset-button m-md-0 w-100 hidden">{% trans 'Reset Filters' %}</span>
          <span id="search-icon"><i class="bi bi-search"></i></span>
          <input id="project-search-input" name="search" type="text" class="project-search-input form-control ms-md-2 w-100 hidden" placeholder="{% trans 'Search projects...' %}" value="{{ search|default:'' }}" />
        </div> {% endcomment %}
        {% include 'website/projects/parts/theme-switch.html' %}
      </aside>
    </div>
  </div>
</nav>
