{% load i18n %}

<div class="col col-md-9 flex-basis-100-smo d-flex justify-content-end align-items-end">
  <div class="projects-filters-panel col d-flex flex-wrap justify-content-md-end align-items-center column-gap-3 row-gap-2 mb-3" role="region" aria-label="{% trans 'Filters' %}">
    {% if show_layout_toggle %}
      <div class="btn-group btn-group-sm project-page-mode-buttons" role="group" aria-label="{% trans 'Projects layout' %}">
        <input type="radio" class="btn-check" name="view" id="projects-layout-roadmap" value="roadmap" autocomplete="off"{% if projects_layout != 'default' %} checked{% endif %} />
        <label class="btn btn-outline-primary" for="projects-layout-roadmap">{% trans 'Roadmap' %}</label>

        <input type="radio" class="btn-check" name="view" id="projects-layout-default" value="default" autocomplete="off"{% if projects_layout == 'default' %} checked{% endif %} />
        <label class="btn btn-outline-primary" for="projects-layout-default">{% trans 'List' %}</label>
      </div>
    {% endif %}
    {% if show_content_filters %}
      {% include 'website/projects/parts/workouts-switch.html' %}
    {% endif %}
  </div>
</div>
