{% extends 'website/projects/parts/layout.html' %}
{% load i18n %}

{% block title %}
  {{ page_title }} | {{ website_config.site_name }}
{% endblock %}

{% block dashboard_content %}
  {% include 'website/projects/parts/page_heading.html' %}

  <section class="projects">
    {% if sections %}
      <div class="project-languages-section">
        {% for section in sections %}
          <section class="language-block">
            <div class="course-title-row">
              <h2>{{ section.title }}</h2>
            </div>
            <div class="project-list projects-grid row gap-md-3 px-md-3">
              {% for course in section.courses %}
                {% include 'website/projects/parts/course_card.html' %}
              {% endfor %}
            </div>
          </section>
        {% endfor %}
      </div>
    {% else %}
      <p>{% trans "No courses found." %}</p>
    {% endif %}
  </section>
{% endblock %}
