{% extends 'website/projects/parts/layout.html' %}
{% load static %}

{% block meta %}
  <meta name="csrf-token" content="{{ csrf_token }}" />
{% endblock %}

{% block title %}
  {{ page_title }} | {{ website_config.site_name }}
{% endblock %}

{% block page_css %}
  {% if user.is_staff %}
    <link rel="stylesheet" href="{% static 'css/pages/projects/plus-button.css' %}" />
  {% endif %}
{% endblock %}

{% block page_js %}
  {% if user.is_staff %}
    <script src="{% static 'js/pages/projects/plus-button.js' %}" defer></script>
  {% endif %}
{% endblock %}

{% block dashboard_content %}
  {% if user.is_staff %}
    {% include 'website/projects/parts/project/plus-button.html' %}
  {% endif %}

  {% include 'website/projects/parts/page_heading.html' %}

  <section class="projects">
    {% if filter_by == 'course' %}
      {% include 'website/projects/parts/projects_by_course.html' %}
    {% else %}
      {% include 'website/projects/parts/projects_by_language.html' %}
    {% endif %}
  </section>
{% endblock %}
