<footer class="bg-dark" id="tempaltemo_footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 pt-5">
        <h2 class="h2 text-success border-bottom pb-3 border-light logo">{{ website_config.site_name }}</h2>
        <ul class="list-unstyled text-light footer-link-list">
          <li>
            <i class="fas fa-map-marker-alt fa-fw"></i>
            {{ website_config.store_location }}
          </li>
          <li>
            <i class="fa fa-phone fa-fw"></i>
            <a class="text-decoration-none" href="tel:010-020-0340">{{ website_config.contact_phone }}</a>
          </li>
          <li>
            <i class="fa fa-envelope fa-fw"></i>
            <a class="text-decoration-none" href="mailto:info@company.com">{{ website_config.support_email }}</a>
          </li>
        </ul>
      </div>

      <div class="col-md-4 pt-5">
        <h2 class="h2 text-light border-bottom pb-3 border-light">Products</h2>
        <ul class="list-unstyled text-light footer-link-list">
          {% for category in featured_subcategories %}
            <li>
              <a class="text-decoration-none" href="{{ category.url }}">{{ category.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="col-md-4 pt-5">
        <h2 class="h2 text-light border-bottom pb-3 border-light">Further Info</h2>
        <ul class="list-unstyled text-light footer-link-list">
          {% for page in webpages %}
            <li>
              <a class="text-decoration-none" href="{% url page.name %}">{{ page.title }}</a>
            </li>
          {% endfor %}

          {% comment %} <li>
            <a class="text-decoration-none" href="#">About Us</a>
          </li>
          <li>
            <a class="text-decoration-none" href="#">Shop Locations</a>
          </li>
          <li>
            <a class="text-decoration-none" href="#">FAQs</a>
          </li>
          <li>
            <a class="text-decoration-none" href="#">Contact</a>
          </li> {% endcomment %}
        </ul>
      </div>
    </div>

    <div class="row text-light mb-4">
      <div class="col-12 mb-3">
        <div class="w-100 my-3 border-top border-light"></div>
      </div>
      <div class="col-auto me-auto">
        {# social media links footer #}
        <ul class="list-inline text-left footer-icons">
          {% for link in social_media_links %}
            <li class="list-inline-item border border-light rounded-circle text-center">
              <a class="text-light text-decoration-none" href="{{ link.url }}" target="_blank"><i class="fab fa-{{ link.name }} fa-lg fa-fw"></i></a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-auto">
        <label class="sr-only" for="subscribeEmail">Email address</label>
        <div class="input-group mb-2">
          <input type="text" class="form-control bg-dark border-light" id="subscribeEmail" placeholder="Email address" />
          <div class="input-group-text btn-success text-light">Subscribe</div>
        </div>
      </div>
    </div>
  </div>


</footer>
