<div class="navbar align-self-center d-flex">
  <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
    {# search box #}
    <div class="input-group">
      <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ..." />
      <div class="input-group-text">
        <i class="fa fa-fw fa-search"></i>
      </div>
    </div>
  </div>

  {# search icon #}
  <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal" data-bs-target="#templatemo_search"><i class="fa fa-fw fa-search text-dark mr-2"></i></a>

  {# cart #}
  {% if user.is_authenticated %}
    <a class="nav-icon position-relative text-decoration-none" href="#">
      <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
      <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">7</span>
    </a>
  {% endif %}
  
  {# user #}
  {% if user.is_authenticated %}
  <a class="nav-icon position-relative text-decoration-none" href="{% url 'profile' %}">
    <i class="fa fa-fw fa-user text-dark mr-3"></i>
  </a>
  {% else %}
  <a class="nav-icon position-relative text-decoration-none" href="{% url 'account_login' %}">
    <i class="fa fa-fw fa-user text-dark mr-3"></i>
    {% comment %} <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">+99</span> {% endcomment %}
  </a>
  {% endif %}

  {# logout #}
  {% if user.is_authenticated %}
    <a class="nav-icon position-relative text-decoration-none" href="{% url 'account_logout' %}"><i class="fa fa-fw fa-sign-out-alt text-dark mr-3"></i></a>
  {% endif %}
</div>

{% comment %} test-user Fs5@X7BTxEXtRWN {% endcomment %}
