{% extends 'website/dashboard/parts/layout.html' %}
{% load i18n %}

{% block dashboard_content %}
  {% trans "Dashboard" as heading %}
  {% blocktrans with name=user.username asvar intro %}Hello, {{ name }}. Here is something to work on next:{% endblocktrans %}
  {% include 'website/dashboard/parts/page-head.html' with heading=heading intro=intro %}

  <div class="user-dash-recs">
    {% for column in recommendations %}
      {% include 'website/dashboard/parts/recommendation-column.html' with heading=column.heading items=column.items see_all=see_all see_all_url=column.see_all_url empty=column.empty %}
    {% endfor %}
  </div>
{% endblock %}
