
@import url('/static/css/theme/size.css');

.btn {
    --bs-font-size: var(--button-font-size);
}

.btn-primary, .btn-outline-primary {
    transition: all .7s;
    position: relative;
    bottom: 0;
}