@import url('/static/css/theme/colors.css');
@import url('/static/css/theme/size.css');

body {
    font-size: var(--body-font-size);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    color: var(--text-primary);
}

h1, .h1, .title {
    font-size: var(--title-font-size);
}

h2, .h2, .subtitle {
    font-size: var(--subtitle-font-size);
}